@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --bg-primary-100: #e6f2ff;
  --bg-primary-200: #cce5ff;
  --bg-primary-300: #b3d9ff;
  --bg-primary-400: #99ccff;
  --bg-primary-500: #66b3ff;
  --bg-primary-600: #3399ff;
  --bg-primary-700: #007bff;
  --bg-primary-800: #0066d9;
  --bg-secondary-100: #f0f9ff;
  --bg-secondary-200: #e0f2fe;
  --bg-secondary-300: #cfebfe;
  --bg-secondary-400: #b3d9ff;
  --bg-secondary-500: #99ccff;
  --bg-secondary-600: #66b3ff;
  --bg-secondary-700: #3399ff;
  --bg-secondary-800: #007bff;

  --bg-gray-100: #f0f0f0;
  --bg-gray-200: #e0e0e0;
  --bg-gray-300: #d0d0d0;
  --bg-gray-400: #c0c0c0;
  --bg-gray-500: #b0b0b0;
  --bg-gray-600: #a0a0a0;
  --bg-gray-700: #909090;
  --bg-gray-800: #808080;
  --bg-gray-900: #707070;

  --border-blue-100: #e6f2ff;
  --border-blue-200: #cce5ff;
  --border-blue-300: #b3d9ff;
  --border-blue-400: #99ccff;
  --border-blue-500: #66b3ff;
  --border-blue-600: #3399ff;
  --border-blue-700: #007bff;
  --border-blue-800: #0066d9;
  --border-blue-900: #0055c9;
  
  
  --color-error-100: #fef2f2;
  --color-error-500: #ef4444;
  --color-error-600: #b91c1c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
}

/* ReactQuill border 제거 */
.quill .ql-toolbar.ql-snow,
.quill .ql-container.ql-snow {
  border: none !important;
  box-shadow: none !important;
}

/* 툴바가 있을 때 컨테이너 상단선도 제거 */
.quill .ql-container.ql-snow {
  border-top: none !important;
}
